.ErrorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ErrorPage > h1 {
  font-size: 4.5rem;
  margin-bottom: 0;
}

.ErrorPage > strong {
  font-size: 1.2rem;
}

.ErrorPage > p {
  font-size: 1.1rem;
}

.ErrorPage > a {
  margin-bottom: 2rem;
}

.ErrorPage > img {
  width: min(30rem, 100%);
}

@media screen and (max-width: 768px) {
  .ErrorPage > .ServerError {
    font-size: 3rem;
  }
}