.Dasboard {
  display: grid;
  gap: 1rem;
}

.DashboardBtn {
  font-size: 1rem;
}

.PostGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.PostCard {
  border: 1px solid black;
  box-shadow: 5px 5px 0 black;
  padding: 1rem;
  display: grid;
  align-self: start;
  transition: all 0.4s ease;
}

.PostCard:hover {
  box-shadow: 2px 2px 0 black;
}

.PostCard > p {
  margin-bottom: 0;
}

.PostCard > .InlineLink {
  margin-top: 1rem;
  justify-self: start;
}

.ExploreGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.ExploreGrid > img {
  width: 100%;
  grid-row: 1 / 3;
  grid-column: 3 / -1;
  align-self: center;
}

@media screen and (max-width: 1024px) {
  .PostGrid, .ExploreGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .ExploreGrid > img {
    grid-column: 2 / -1;
  }
}

@media screen and (max-width: 768px) {
  .PostGrid, .ExploreGrid {
    grid-template-columns: 1fr;
  }

  .ExploreGrid > img {
    grid-row: 6 / 7;
    grid-column: 1 / -1;
  }
}