.PostForm > * input, .PostInput {
  background: white;
  border: 2px solid var(--border-color);
}

.Post {
  width: 100%;
  display: grid;
  justify-items: center;
}

.PostButtons {
  width: 100%;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

.PostButtons > a {
  font-size: 0.9rem;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.PostButtons > a:hover {
  opacity: 0.75;
}

.PostTitle {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.PostBody {
  justify-self: start;
}

.PostComments {
  width: 100%;
  justify-self: start;
}

.CommentGrid {
  display: grid;
  gap: 0.75rem;
}

.CommentCount {
  font-size: 1rem;
  font-weight: 500;
  padding-left: 0.25rem;
}

.Comment {
  border: 1px solid black;
  box-shadow: 4px 4px 0 black;
  padding: 0.4rem 0.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.3rem;
  transition: all 0.3s ease;
}

.Comment:hover {
  box-shadow: 2px 2px 0 black;
}

.Comment > strong {
  font-weight: 500;
}

.Comment > small {
  justify-self: end;
}

.Comment > p {
  margin: 0;
  grid-column: 1 / -1;
}

