.PostForm > * input, .PostInput {
  background: white;
  border: 2px solid var(--border-color);
}

.Post {
  width: 100%;
  display: grid;
  justify-items: center;
}

.PostButtons {
  width: 100%;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

.PostButtons > a, .CommentButtons > button {
  color: var(--primary-color);
  font-size: 0.9rem;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.PostButtons > a:hover, .CommentButtons > button:hover {
  opacity: 0.75;
}

.PostTitle {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.PostInfo {
  margin-bottom: 1.5rem;
}

.PostBody {
  justify-self: start;
}

.PostComments {
  width: 100%;
  justify-self: start;
}

.CommentGrid {
  display: grid;
  gap: 0.75rem;
}

.CommentCount {
  font-size: 1rem;
  font-weight: 500;
  padding-left: 0.25rem;
}

.CommentForm {
  position: relative;
}

.CommentInput {
  background: white;
  border: 1px solid black;
  border-radius: 0;
  padding-right: 2.5rem;
}

.InlineBtn {
  color: white;
  background: var(--primary-color);
  border-radius: 0;
  padding: 0.4rem 0.5rem;
  height: 32.3px;
  position: absolute;
  right: 1px;
  bottom: 1px;
}

.InlineBtn:hover, .CommentEditBtns > button:first-child:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
}

.CommentEditBtns > button:not(:first-child):hover {
  background: #c2c2c2;
  color: white;
}

.Comment {
  border: 1px solid black;
  box-shadow: 4px 4px 0 black;
  padding: 0.4rem 0.6rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.3rem;
  transition: all 0.3s ease;
}

.Comment:hover {
  box-shadow: 2px 2px 0 black;
}

.Comment > strong {
  font-weight: 500;
}

.Comment > small {
  justify-self: end;
  grid-area: 1 / 2 / 2 / -1;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.Comment > p {
  margin: 0;
  grid-column: 1 / -1;
}

.CommentButtons {
  display: inline-flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.CommentModal.Hidden {
  display: none;
}

.CommentModal {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.ModalBody {
  background: white;
  padding: 1rem;
  display: grid;
  justify-items: center;
  gap: 1rem;
  margin-bottom: 20vh;
}

.ModalBody > p {
  margin: 0;
}

.EditCommentForm {
  gap: 0;
}

.EditCommentForm > * > input {
  padding-right: 0.6rem;
}

.CommentEditBtns {
  border: 1px solid black;
  border-top: none;
  justify-self: end;
}

.CommentEditBtns > button {
  font-size: 1rem;
  border-radius: 0;
}

.CommentEditBtns > button:first-child {
  color: white;
  background: var(--primary-color);
}

.CommentEditBtns > button:not(:first-child) {
  background: var(--border-color);
}

@media screen and (max-width: 768px) {
  .Comment > small {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-row: 1 / 3;
    gap: 0;
  }
}